1) Concatenate two list index-wise

In [5]:
teams = ["India","England","NZ","Aus"]
captains = ["Kohli", "Root","Williamson","Smith"]

zipped = zip(teams,captains)
Ziplist = list(zipped)
print(Ziplist)

#This is a list

[('India', 'Kohli'), ('England', 'Root'), ('NZ', 'Williamson'), ('Aus', 'Smith')]

In [6]:
#Convert it to dicationary

Zipped = zip(teams, captains)
ZipDict = dict(Zipped)
print(ZipDict)

{'India': 'Kohli', 'England': 'Root', 'NZ': 'Williamson', 'Aus': 'Smith'}

2)Given a list of books, their prices, and the quantities that you purchased, print out the total amount spent on each item

In [13]:
books = ["textbooks","exercise books","story book","drawing book"]
prices = [100,60,90,70]
quantities = [3,2,1,4]

zipped = zip(books,prices,quantities)
ziplist = list(zipped)
print(ziplist)


for x, y, z in zip(books, prices, quantities):
  print(f"you bought {z} {x} for ${y*z}")

[('textbooks', 100, 3), ('exercise books', 60, 2), ('story book', 90, 1), ('drawing book', 70, 4)]
you bought 3 textbooks for $300
you bought 2 exercise books for $120
you bought 1 story book for $90
you bought 4 drawing book for $280

3) Given a Python list. Add 10 to each item of the list 1.

In [15]:
List1 = [2,4,6,8,10]

x=[i+10 for i in List1]

print(x)

[12, 14, 16, 18, 20]

4) Given a two Python list. Write a program to iterate both lists simultaneously and display items from list1 in original order and items from list2 in reverse order

In [17]:
list1 = [10,20,30,40]

list2 = ["Apples","Mangoes","Oranges","Grapes"]

#list2 should reverse

list2.reverse()

for x, y in zip(list1,list2):
  print(x,y)

10 Grapes
20 Oranges
30 Mangoes
40 Apples

In [21]:



#negative index in means python index start from end of the terable

list1 = [10,20,30,40]

list2 = ["Apples","Mangoes","Oranges","Grapes"]


for x, y in zip(list1, list2[::-1]):
                print(x,y)

10 Grapes
20 Oranges
30 Mangoes
40 Apples

In [25]:
#slicing use to part of the indexing

list1 = [10,20,30,40]

list2 = ["Apples","Mangoes","Oranges","Grapes"]

list1[-1]
list1[0]

list2[::-1]
list1[::]

[10, 20, 30, 40]

5) Given a nested list extend it with adding sub list ["h", "i", "j"] in a such a way that it will look like the following list

In [32]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]

list1[2][1][2].append(sub_list)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', ['h', 'i', 'j']], 'k'], 'l'], 'm', 'n']

In [40]:
list1 = [10,15,20,15,32,54,15]

while 15 in list1:
  list1.remove(15)
print(list1)

[10, 20, 32, 54]

7) Given a Python list, write a program to remove all occurrences of item 15.

In [41]:
dict_1 = {'John': 15, 'Rick': 10, 'Misa': 12}
dict_2 = {'Bonnie': 18,'Rick': 20,'Matt': 16}

dict_1.update(dict_2)

print(dict_1)

{'John': 15, 'Rick': 20, 'Misa': 12, 'Bonnie': 18, 'Matt': 16}

In [42]:
#Unpack operator 

dict_3 = {**dict_1,**dict_2}
print(dict_3)

{'John': 15, 'Rick': 20, 'Misa': 12, 'Bonnie': 18, 'Matt': 16}

8) Change the key of the first entry from 0 to 4 in the following dictionary

In [43]:
d = {0: 0, 1: 1, 2: 2, 3: 3} 


k_old = 0
k_new = 4

d[k_new] = d.pop(k_old)
print(d)

{1: 1, 2: 2, 3: 3, 4: 0}

9) Theses two lists convert it into the dictionary
country=["USA","France","India"]
capital= ["Washington D.C.","Paris","New Delhi"]

In [46]:
country = ["USA","France","India"]

capital = ["Washinton D.C,","Paris","New Delhi"] 


#convert this to dictionary 


zipped = zip(country,capital)

ziplist = dict(zipped)

print(ziplist)

{'USA': 'Washinton D.C,', 'France': 'Paris', 'India': 'New Delhi'}

10) Delete set of keys from Python Dictionary

My_dict = {"Fruit": "Pear",
"Vegetable": "Carrot",
"Pet": "Cat",
"Book": "Moby dick",
"Crystal": "Amethyst"}

keysToRemove = ["Book", "Crystal"]

In [47]:
My_dict = {"Fruit": "Pear",
"Vegetable": "Carrot",
"Pet": "Cat",
"Book": "Moby dick",
"Crystal": "Amethyst"}

keysToRemove = ["Book", "Crystal"]
 #use pop function to delete

for k in keysToRemove:
   My_dict.pop(k)
print(My_dict)

{'Fruit': 'Pear', 'Vegetable': 'Carrot', 'Pet': 'Cat'}

11) Create a new dictionary by extracting the following keys from a given dictionary
sub_dict = {'math' : 100, 'chem' : 98, 'sci' : 100,'eng':100}
key_to_extract = {'math', 'chem','sci'}

In [51]:
sub_dict = {'math' : 100, 'chem' : 98, 'sci' : 100,'eng':100}
key_to_extract = {'math', 'chem','sci'}

extrcated_dict = {key: sub_dict[key] for key in sub_dict.keys() & key_to_extract}

12) Given a list iterate it and display numbers which are divisible by 5.

In [55]:
list1 = [12,15,32,42,55,75,122,132,150,180,200]

list2 = []

for i in list1:
  if i %5 == 0:
    list2.append(i)
    

print(list1)

[12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]

13) Write a program to display only those numbers from a list that satisfy the following conditions
• The number must be divisible by five
• If the number is greater than 150, then skip it and move to the next number
• If the number is greater than 500, then stop the loop

In [57]:
numbers = [12,75,150,180,145,525,50]

for i in numbers:
  if i > 500:
    break
  elif i >150:
    continue
  elif i %5 == 0:
    print(i)

75
150
145

4) Write a Python program to count Uppercase, Lowercase, special character and numeric values in a given string.
Original Substrings = "@W3Resource.Com"

In [58]:
str = "@W3Resource.Com"

def count(str):
  upper_ctr, lower_ctr, number_ctr, special_ctr = 0,0,0,0